[Unit]
Description=M-Bus display service
After=network.target
Before=nginx.service
StartLimitIntervalSec=30
StartLimitBurst=2


[Service]
ExecStart=PYTHONNAME SERVICENAME
Type=simple
User=mbus
Group=mbus
Restart=on-failure


[Install]
WantedBy=default.target
RequiredBy=network.target
