[Unit]
Description=M-Bus display service daemon
After=network.target
Before=nginx.service
StartLimitIntervalSec=60
StartLimitBurst=12


[Service]
ExecStart=PYTHONNAME SERVICENAME
Type=simple
User=mbus
Group=mbus
Restart=on-failure
RestartSec=5


[Install]
WantedBy=default.target
RequiredBy=network.target
