[Unit]
Description=Reverse SSH tunnel
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=12


[Service]
ExecStart=/home/debian/htmbus/reversessh.sh
Type=simple
User=heth
Group=heth
Restart=on-failure
RestartSec=5


[Install]
WantedBy=default.target
RequiredBy=network.target


