{% extends 'extend.html' %}
{% block content %}

<h1>button12</h1>
<p>>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Visit page <a href="/">M-Bus Home Page</a>.</p>
<form style="margin: auto">
            <label>
              <input type="radio" name="activity" value="0"/>sedentary
            </label>
            <label>
              <input type="radio" name="activity" value="1"/>lightly active (1-3 days a week)
            </label>
            <label>
              <input type="radio" name="activity" value="2"/>moderately active (3-5 days a week)
            </label>
            <br>
             <label>
              <input type="radio" name="activity" value="3"/>heavy exercise (6-7 days a week)
            </label>
            <label>
              <input type="radio" name="activity" value="4"/>very heavy exercise (exercising twice a day or working physical job)
            </label>
          </form>
{% endblock %}
