{% extends 'extend.html' %}
{% block content %}
<h1>M-Bus Main Page</h1>
<p>
M-Bus device gateway V1.0 beta
</p>
<script type="text/javascript">
    var ip = location.host;
    log(ip);
</script>
  <img src="static/1599px-MBusLogo240.png" alt="M-Bus Logo" style="float:right;width:200px;">
<p>Links:</a>
<ul>
  <li><a href="http://{{ broker }}" target="_blank">Thingsboard server</a></li>
  <li><a href="http://{{ csvserver }}/csv" target="_blank">Download CSV-files with data</a></li>
  <li><a href="https://www.kamstrup.com/en-en/heat-solutions/meters-devices/meters/multical-603/documents" target="_blank">Kamstrup MULTICAL 603 documentation</a></li>
  <li><a href="https://m-bus.com/downloads" target="_blank">M-Bus technical information</a></li>
  <li><a href="https://mars.merhot.dk/w/index.php/M-BUS" target="_blank">M-Bus technical information Mercantec</a></li>
</ul>
{% endblock %}


