{% extends 'extend.html' %}
{% block content %}
<h1>M-Bus Main Page</h1>
<p>
M-Bus device gateway V1.0 beta

External links:
<ul>
  <img src="static/1599px-MBusLogo240.png" alt="M-Bus Logo" style="float:right;width:200px;>
  <li><a href="http://192.168.1.78:8080" target="_blank">Thingsboard server</a></li>
  <li><a href="http://192.168.1.52/kam603" target="_blank">Download CSV-files with data</a></li>
  <li><a href="https://www.kamstrup.com/en-en/heat-solutions/meters-devices/meters/multical-603/documents" target="_blank">Kamstrup MULTICAL 603 documentation</a></li>
  <li><a href="https://m-bus.com/downloads" target="_blank">M-Bus technical information</a></li>
  <li><a href="https://mars.merhot.dk/w/index.php/M-BUS" target="_blank">M-Bus technical information Mercantec</a></li>
</ul>
<p>Visit page <a href="/alldevices">devices</a>.</p>
{% endblock %}


