[Unit]
Description=M-Bus back-end service daemon
After=network.target
Before=nginx.service

[Service]
ExecStart=PYTHONNAME SERVICENAME
Type=simple
User=mbus
Group=mbus
Restart=always


[Install]
WantedBy=default.target
RequiredBy=network.target
